---
import "../styles/global.css";
---

<!doctype html>
<html lang="fr" data-theme="dracula">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Dynamiques culturelles des territoires</title>
  </head>
  <body>
    <header
      class="navbar bg-base-100 sticky top-0 z-50 shadow-lg border-b border-base-300"
    >
      <div class="navbar-start">
        <a href="/" class="btn btn-ghost text-xl normal-case"> Accueil </a>
      </div>
      <div class="navbar-end">
        <ul class="menu menu-horizontal px-1 gap-2">
          <li>
            <a href="/analyse_geographique" class="btn btn-ghost">
              Analyse géographique
            </a>
          </li>
          <li>
            <a href="/acteurs" class="btn btn-ghost"> Acteurs culturels </a>
          </li>
          <li>
            <a href="/acces" class="btn btn-ghost"> Accès à la culture </a>
          </li>
        </ul>
      </div>
    </header>
    <slot />
    <footer class="footer footer-center bg-base-200 text-base-content p-10">
      <aside>
        <p class="text-sm opacity-70">
          © 2025 - Open Data University × Ministère de la Culture
        </p>
      </aside>
    </footer>
  </body>
</html>
